{% extends 'blog/base.html' %}
{% block title %}
    评论-
{% endblock %}
{% block bodyblock %}
    <div class="container container-message container-details">
        <div class="contar-wrap">
            <div class="item">
                <div class="item-box  layer-photos-demo1 layer-photos-demo">
                    <h3><a href="details/{{ data.post.id }}">{{ data.post.title }}</a></h3>
                    <h5>发布于：<span>{{ data.post.create_time }}</span></h5>
                    <p>{{ data.post.content | safe }}</p>
                    <div class="count layui-clear">
                        <span class="pull-left">阅读 <em>{{ data.post.clicks }}</em></span>
                        <span class="pull-right like"><i
                                class="layui-icon layui-icon-praise"></i><em>{{ data.post.likes }}</em></span>
                    </div>
                </div>
            </div>
            <form class="layui-form" action="">
                <div class="layui-form-item layui-form-text">
                    <textarea class="layui-textarea" style="resize:none" placeholder="写点什么啊"></textarea>
                </div>
                <div class="btnbox">
                    <a href="details.html" id="sure">
                        确定
                    </a>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}

{% block blogscript %}
    <script src="../../static/layui/layui.js">

    </script>
    <script>
        layui.config({
            base: '../../static/js/'
        }).use('blog');
    </script>

{% endblock %}