{% extends 'blog/base.html' %}

{% block bodyblock %}
    <div class="container container-message container-details">
        <div class="contar-wrap">
            <div class="item">
                <div class="item-box  layer-photos-demo1 layer-photos-demo">
                    <h3><a href="details/{{ data.post.id }}">{{ data.post.title }}</a></h3>
                    <h5>发布于：<span>{{ data.post.create_time }}</span></h5>
                    <p>{{ data.post.content | safe }}</p>
                    <div class="count layui-clear">
                        <span class="pull-left">阅读 <em>{{ data.post.clicks }}</em></span>
                        <span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em class="like-count"
                                                                                                      data-likecount="{{ data.post.likes }}"
                                                                                                      data-postid="{{ data.post.id }}">{{ data.post.likes }}</em></span>
                    </div>
                </div>
            </div>
            <a name="comment"> </a>
            <div class="comt layui-clear">
                <a href="javascript:;" class="pull-left">评论</a>
                <a href="/comment/{{ data.post.id }}" class="pull-right">写评论</a>
            </div>
            <div id="LAY-msg-box">
                {% for comment in data.comment_list %}
                    <div class="info-item">
                        <img class="info-img" src="{{ comment.user.avatar_url }}" alt="">
                        <div class="info-text">
                            <p class="title count">
                                <span class="name">{{ comment.user.nick_name }}</span>
                                <span class="info-img like"><i class="layui-icon layui-icon-praise"></i><em class="like-count"
                                                                                                            data-commentid="{{ comment.id }}"
                                                                                                            data-likecount="{{ comment.like_count }}">{{ comment.like_count }}</em></span>
                            </p>
                            <p class="info-intr">{{ comment.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
